.product-list {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-auto-rows: 460px;
    grid-gap: 12px;
}

.product-list .product {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: #FFF;

    border-radius: 4px;
    border: 1px solid #ddd;

    transition: 0.2s;
}

.product-list .product .product-img {
    margin: 0 auto;

    cursor: pointer;
}

.product-list .product .product-name {
    margin-bottom: 20px;

    font-family: 'Ubuntu', sans-serif;
    color: inherit;

    font-weight: 500;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: clip;
    overflow: hidden;

    cursor: pointer;
}

.product-list .product p.value {
    color: #bd33fd;

    text-align: left;
}

.product-list .product p.parceled {
    color: #5271ff;

    text-align: left;
}

.product-list .product .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-list .product .buttons button + button {
    margin-left: 4px;
}

.product-list .product button {
    background-color: #bd33fd;
    color: whitesmoke;
    border-color: #ccc;

    width: 100%;

    margin-top: 20px;
    border-radius: 6px;
    padding: 6px 10px;

    transition: opacity 0.2s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.product-list .product:hover {
    transform: scale(1.1);
}
