* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif; 
}


.navbar-brand {
    display: flex;
    align-items: center;
    
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif; 
}


.header-site {
    padding: 190px 0;
    background-image: url(../images/background2.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #ffff;
    position: relative;
    z-index: 2; 
}


.overlay {
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: rgba(0,0,0,0.3);
}

section.header-site  h2, p{
    font-size: 32px;
    position: relative;
    z-index: 3;
    padding-bottom: 20px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

hr {
    padding: 0;
    margin-top: 0;
    height: 20px;
    width: 100%;
    background-color: #222;
}
section.content-site {
    padding: 50px;
    margin-bottom: 50px;
}

.first-title {
    margin-bottom: 70px;
    font-size: 32px;
    font-family: 'Ubuntu', sans-serif;
}

img.monte-image {
    width: 225px;
    height: 225px;
}

.linha-home {
    background-color: #cb6ce6;
    font-size: 27px;
    color: whitesmoke;
    height: 40px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 40px;
   
}
.btn-linha-home {
    background-color: rgb(189, 51, 253);
    margin-top: 0;
    font-size: 21px;
    color: whitesmoke;
}

.btn-linha-home:hover {
    color: white;
    text-decoration: none;
}

.linha-gamer {
   background-color: #5271ff;
   font-size: 27px;
   color: whitesmoke;

   height: 40px;
   text-align: center;
   font-family: 'Ubuntu', sans-serif; 
   margin-bottom: 40px; 
}

.btn-linha-gamer {
    background-color: rgb(8, 172, 248);
    margin-top: 0;
    font-size: 21px;
    color: whitesmoke
}

.btn-linha-gamer:hover {
    color: white;
    text-decoration: none;
}

.linha-monte {
    background-color: #000a3b;
    font-size: 27px;
    color: whitesmoke;
 
    height: 40px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif; 
    margin-bottom: 50px; 
}

.btn-linha-monte {
    background-color: rgb(20, 20, 20);
    margin-top: 0;
    font-size: 21px;
    color: whitesmoke
}

.btn-linha-monte:hover {
    color: white;
    text-decoration: none;
}

.second-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    margin-bottom: 50px;
}

div.thumbnail {
    width: 330px;
    height: 500px;
}

button.btn-slide:focus {
    color: rgb(189, 51, 253);
    border: 2px solid rgb(189, 51, 253) !important;
}


a.btn-comprar {
    background-color: rgb(189, 51, 253);
    color: whitesmoke;
    margin-top: 55px;
    width: 275px;
    height: 50px;
    
}

span.icon-comprar {
    color: rgb(8, 172, 248);
    padding-right: 10px;
}

a.btn-comprar:hover {
    background-color: rgb(20, 20, 20);
    color: white;
}

button.btn-indisponivel {
    margin-top: 55px;
    width: 275px;
    height: 50px;
    background-color: rgb(20, 20, 20);
    color: white;
}

button.btn-indisponivel:hover {
    background-color: rgb(20, 20, 20);
    color: white;
}

span.icon-indisponivel {
    color: whitesmoke;
    padding-right: 10px;
}

section.final-site {
    width: 100%;
    padding: 50px;
    
    color: whitesmoke;
    background-color: rgb(20, 20, 20);
}

.duvidas-class h4{
    font-size: 18px;
    margin-bottom: 25px;
    
}

.duvidas-class p {
    margin-bottom: 5px;
    font-size: 9px;
}

.duvidas-class a {
    margin-bottom: 5px;
    font-size: 9px;
    color: rgb(8, 172, 248);
}

.duvidas-class a:hover{
    margin-bottom: 5px;
    font-size: 9px;
    color: whitesmoke;
    text-decoration: none;
}

.copyright-class {
    color: whitesmoke;
    margin-top: 20px;
    font-size: 20px;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

/*footer social icons */

.social-network a.icoFacebook {
    background-color: rgb(20, 20, 20);
}

.social-network a.icoInstagram {
    background-color: rgb(20, 20, 20);
}
.social-network a.icoFacebook i,
.social-network a.icoInstagram i {
    color: rgb(189, 51, 253);
}


.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

li i:hover {
    transition: 2s; 
    color: rgb(8, 172, 248) !important;
}

.anime {
	opacity: 0;
	transform: translate3d(-500px, 0, 0);
	transition: .5s;
}

.anime-start {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 1400px ) {
    div.thumbnail {
        width: 300px;
        height: 500px;
    }
    
    a.btn-comprar {
        background-color: rgb(189, 51, 253);
        color: whitesmoke;
        margin-top: 55px;
        width: 245px;
        height: 50px;
        
    }
    
    span.icon-comprar {
        color: rgb(8, 172, 248);
        padding-right: 10px;
    }

    button.btn-indisponivel {
        margin-top: 55px;
        width: 245px;
        height: 50px;
        background-color: rgb(20, 20, 20);
        color: white;
    }
    
}

@media screen and (max-width: 1280px ) {

    div.thumbnail {
        width: 270px;
        height: 500px;
    }

    a.btn-comprar {
        background-color: rgb(189, 51, 253);
        color: whitesmoke;
        margin-top: 55px;
        width: 215px;
        height: 50px;
        
    }
    
    span.icon-comprar {
        color: rgb(8, 172, 248);
        padding-right: 10px;
    }

    button.btn-indisponivel {
        margin-top: 55px;
        width: 215px;
        height: 50px;
        background-color: rgb(20, 20, 20);
        color: white;
    }

    .little-title {
        margin-bottom: 60px !important;
    }
}

@media screen and (max-width: 1160px ) {

    div.thumbnail {
        width: 240px;
        height: 550px;
    }

    a.btn-comprar {
        background-color: rgb(189, 51, 253);
        color: whitesmoke;
        margin-top: 55px;
        width: 185px;
        height: 50px;
        
    }
    
    span.icon-comprar {
        color: rgb(8, 172, 248);
        padding-right: 10px;
    }

    .little-title {
        margin-bottom: 60px !important;
    }

    .medium-title {
        margin-bottom: 40px !important;
    }
}

@media screen and (max-width: 1040px ) {

    div.thumbnail {
        width: 210px;
        height: 550px;
    }

    a.btn-comprar {
        background-color: rgb(189, 51, 253);
        color: whitesmoke;
        margin-top: 55px;
        width: 155px;
        height: 50px;
        
    }
    
    button.btn-indisponivel {
        margin-top: 55px;
        width: 155px;
        height: 50px;
        font-size: 14px;
        background-color: rgb(20, 20, 20);
        color: white;
    }

    span.icon-comprar {
        color: rgb(8, 172, 248);
        padding-right: 10px;
    }

    .little-title {
        margin-bottom: 60px !important;
    }

    .medium-title {
        margin-bottom: 20px !important;
    }
}

@media screen and (max-width: 920px ) {

    div.thumbnail {
        width: 180px;
        height: 575px;
    }

    a.btn-comprar {
        background-color: rgb(189, 51, 253);
        color: whitesmoke;
        margin-top: 55px;
        width: 125px;
        height: 50px;
        font-size: 16px;
        
    }
    
    button.btn-indisponivel {
        margin-top: 55px;
        width: 155px;
        height: 50px;
        font-size: 14px;
        background-color: rgb(20, 20, 20);
        color: white;
    }

    span.icon-comprar {
        color: rgb(8, 172, 248);
        padding-right: 10px;
    }

    .little-title {
        margin-bottom: 60px !important;
    }

    .medium-title {
        margin-bottom: 20px !important;
    }
}

@media screen and (max-width: 800px ) {

    div.thumbnail {
        width: 175px;
        height: 550px;
    }

    div.thumbnail h4{
        font-size: 14px;
    }

    a.btn-comprar {
        background-color: rgb(189, 51, 253);
        color: whitesmoke;
        margin-top: 55px;
        width: 125px;
        height: 50px;
        font-size: 14px;
        
    }
    
    button.btn-indisponivel {
        margin-top: 55px;
        width: 125px;
        height: 50px;
        font-size: 12px;
        background-color: rgb(20, 20, 20);
        color: white;
    }

    span.icon-comprar {
        color: rgb(8, 172, 248);
        padding-right: 10px;
    }

    .little-title {
        margin-bottom: 60px !important;
    }

    .medium-title {
        margin-bottom: 20px !important;
    }
}

@media screen and (max-width: 760px ) {

    div.thumbnail {
        width: 300px;
        height: 500px;
    }
    
    button.btn-slide:focus {
        color: rgb(189, 51, 253);
        border: 2px solid rgb(189, 51, 253) !important;
    }
    
    
    a.btn-comprar {
        background-color: rgb(189, 51, 253);
        color: whitesmoke;
        margin-top: 55px;
        width: 275px;
        height: 50px;
        
    }
    
    span.icon-comprar {
        color: rgb(8, 172, 248);
        padding-right: 10px;
    }
    
    a.btn-comprar:hover {
        background-color: rgb(20, 20, 20);
        color: white;
    }
    
    button.btn-indisponivel {
        margin-top: 55px;
        width: 275px;
        height: 50px;
        background-color: rgb(20, 20, 20);
        color: white;
    }
}

@media screen and (max-width: 498px ) {

    .linha-home {
        background-color: #cb6ce6;
        font-size: 27px;
        color: whitesmoke;
        height: 40px;
        font-family: 'Ubuntu', sans-serif;
        margin-bottom: 60px;
       
    }    

    .linha-gamer {
        background-color: #5271ff;
        font-size: 27px;
        color: whitesmoke;
        height: 40px;
        font-family: 'Ubuntu', sans-serif;
        margin-bottom: 60px;
       
    }

    .linha-monte {
        background-color: #000a3b;
        font-size: 27px;
        color: whitesmoke;
        height: 40px;
        font-family: 'Ubuntu', sans-serif;
        margin-bottom: 60px;
       
    }    
}
@media screen and (max-width: 360px ) {

    .monte-image {
        width: 125px;
        height: 125px;
    }

    div.thumbnail {
        width: 180px;
        height: 575px;
    }

    a.btn-comprar {
        background-color: rgb(189, 51, 253);
        color: whitesmoke;
        margin-top: 55px;
        width: 125px;
        height: 50px;
        font-size: 16px;
        
    }
    
    button.btn-indisponivel {
        margin-top: 55px;
        width: 155px;
        height: 50px;
        font-size: 14px;
        background-color: rgb(20, 20, 20);
        color: white;
    }

    span.icon-comprar {
        color: rgb(8, 172, 248);
        padding-right: 10px;
    }
}

@media screen and (max-width: 310px) {

    #Dragondjx {
        
        width: 35px !important;
        height: 25px !important;
    }

    #djx-title {
        font-size: 21px;
        font-family: 'Ubuntu', sans-serif; 
        display: flex;
        align-items: center;
    }


}

@media screen and (max-width: 270px ) {

    img.monte-image {
        width: 110px ;
        height: 110px ;
    }

    .linha-home {
        background-color: #cb6ce6;
        font-size: 27px;
        color: whitesmoke;
        height: 40px;
        font-family: 'Ubuntu', sans-serif;
        margin-bottom: 160px;
       
    }    
    h3#corrigirTamanhokkk1 {
        background-color: #cb6ce6;
        margin-bottom: 0px;
    }    

    h3#corrigirTamanhokkk2 {
        background-color: #5271ff;
        margin-bottom: 0px;
    }

    h3#corrigirTamanhokkk3 {
        background-color: #000a3b;
        margin-bottom: 0px;
    }    

    .linha-gamer {
        background-color: #5271ff;
        font-size: 27px;
        color: whitesmoke;
        height: 40px;
        font-family: 'Ubuntu', sans-serif;
        margin-bottom: 150px;
       
    }

    .linha-monte {
        background-color: #000a3b;
        font-size: 27px;
        color: whitesmoke;
        height: 40px;
        font-family: 'Ubuntu', sans-serif;
        margin-bottom: 100px;
       
    }
}
