.overlay,
.overlay .row {
    width: 100%;
    height: 480px;

    margin: 0 auto;
}

.overlay {
    background-color: rgba(0,0,0,0.3);

    border-bottom: 20px solid rgba(0,0,0,0.3);
}

.overlay .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay .row h2,
.overlay .row p {
    color: white;

    padding: 10px 0;

    font-weight: 400;
}

.overlay .row h2 {
    font-size: 32px;
}

.overlay .row p {
    font-size: 24px;
}